.button {
    text-align: center;
    border-radius: 40px;
    color: white;
    background-color: rgb(146, 153, 156);
    padding: 15px 32px;
}



.button1{
    text-align: center;
    border-radius: 40px;
    color: white;
    background-color: rgb(146, 153, 156);
    padding: 15px 32px;

}